/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Import Tailwind CSS */
@import 'tailwindcss';

/* Define Tailwind Theme */
@theme {
    --font-sans: "Albert Sans", sans-serif;
    --color-tourney-blue: #1315A7;
    --color-tourney-red: #B31A67;
    --color-tourney-gray: #3B3B3B;
}
